/* General Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ebebeb;
}

header {
  background: linear-gradient(to right, #ff914d, #ff6f61, #ff9370);
  color:  #333;
  padding: 5rem 5rem;
  text-align: center;
  font-family: 'Georgia', serif;
  font-size: 1.8rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

header h1 {
  margin: 0;
  font-size: 3rem; 
}

header p {
  margin: 0.5rem 0 0;
  font-size: 1.2rem;
  font-style: italic; 
}

/* Navbar Styling */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 1rem 2rem;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.nav-logo {
  display: flex;
  align-items: center;
  margin-left: 4rem;
  
}

.nav-logo img {
  height: 50px;
  margin-right: 0.5rem;
}

.nav-logo span {
  font-size: 1.8rem;
  font-family: "Georgia", serif;
  font-weight: bold;
  color: #333;
   
}

.nav-links {
  display: flex;
  gap: 1.5rem;
  margin-right: 4rem;
}

.nav-links a {
  text-decoration: none;
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: #333;
  transition: color 0.3s ease;
  
}

nav a:hover {
  color: #333; 
  transform: scale(1.1); 
}


main {
  max-width: 1200px;
  margin: 2rem auto;
  padding: 1rem;
  text-align: center;
}

.recipes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.card {
  display: inline-block;
  margin: 1rem;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  width: 300px;
  background: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.card img {
  width: 100%;
  height: 250px; 
  object-fit: cover; 
  border-radius: 8px;
}

.card h3 {
  margin: 0.5rem 0;
  color: #333;
}

.card p {
  color: #777;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1rem 0;
  bottom: 0;
  width: 100%;
}
.recipe-details img {
  width: 100%; 
  object-fit: cover; 
  height: 400px; 
  display: block;
  margin: 20px auto; 
  border-radius: 10px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

